<div class="clr-row">
    <div class="clr-col-lg-9 clr-col-12">

        <div class="card">
            <div class="card-header">
                About Me
            </div>
            <div class="card-block">
                <div class="card-title">

                    Ravali Reddy sankaramaddi
                </div>
                <div class="card-text">
                    <p>I had always a keen interest in Web Technology since my under graduation. The
                        courses I
                        studied in my under graduation provided me with enough knowledge and interest to pursue
                        higher
                        studies and made me aware that Computer Science is an ever-upgrading field which is
                        consolidate
                        of several sub-fields and their intercommunication. </p>
                    <p>The applications of Computers could seep into almost every realm of human lives.
                        Nevertheless,
                        what is discovered is only a speck; there is still a lot that is yet to be explored. To
                        choose
                        computers is to develop innovative ideas and preparing ourselves for globally competitive
                        environment. In preparation for this, I wished to pursue Master of Science in Computer
                        Science
                        at University of Michigan Dearborn, to further excel in my domain of interest and expertise.
                    </p>


                </div>
            </div>

        </div>

    </div>
    <div class="clr-col-lg-3 clr-col-12">
        <div class="card">
            <div class="card-block"> <img class="card-media-images" style="width: 100%;" src="assets/IMG_3133.jpg" />
                <!-- <h3 class="card-title">Profile Picture</h3>
                <p class="card-text">
                  
                </p>
            </div> -->

            </div>
        </div>