.header {
  position: relative;
  padding-top: 17px;
  padding-left: 20px;
  text-align: center;
  color: #fafafa;
  color: var(--clr-header-font-color, #fafafa);
  background-color: #333;
  background-color: var(--clr-header-bg-color, #333333);
  height: 3rem;
  white-space: nowrap;
}
